.content-create-acount{
  min-width: 100%;
  min-height: 100%;
  display: flex;
  padding-top: 30%;
}
.formulario-agregar-usuario{
  min-width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.content-left{
  grid-column: 1;
}
.content-right{
  grid-column: 2;
}
.content-left, .content-right{
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-agregar-usuario, .guardar-agregar-usuario{
  width: 75%;
  height: 10%;
  margin-bottom: 10%;
  border-radius: 10px;
  padding: 10px;
  font-size: 100%;
  color: black;
}
.guardar-agregar-usuario{
  font-size: 100%;
  padding: 2px;
  transition: background-color .2s, color .2s;
}
.content-left > button:hover{
  cursor: pointer;
  background-color: black;
  color: gold;
}
.error-message {
  color: white;
  background-color: red;
}